<p><h1>Team Name: <%= @team.name %></h2></p>
<p><h2>Team Motto: <%= @team.motto %></h2></p>

  <% Superhero.all.each do |hero| %>
<p><h2> Hero Name: <%= hero.name %></h2></p>
<p><ul> Hero Power: <%= hero.power %> </ul></p>
   <ul> Hero Biography: <%= hero.biography %> </ul>
   <% end %>
